amqp==5.3.1
arabic-reshaper==3.0.0
asgiref==3.9.0
asn1crypto==1.5.1
billiard==4.2.1
celery==5.5.3
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
cryptography==45.0.5
cssselect2==0.8.0
dj-database-url==3.0.1
Django==5.2.4
django-celery-beat==2.8.1
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-filter==25.1
django-hosts==7.0.0
django-jalali==7.4.0
django-multiselectfield==1.0.1
django-timezone-field==7.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
html5lib==1.1
humanize==4.12.3
idna==3.10
jalali_core==1.0.0
jdatetime==5.2.0
kombu==5.5.4
lxml==6.0.0
**# Removed mysqlclient (for MySQL)**
psycopg2-binary==2.9.10  # ✅ PostgreSQL adapter
oscrypto==1.3.0
packaging==25.0
pillow==11.3.0
prompt_toolkit==3.0.51
pycparser==2.22
pyHanko==0.29.1
pyhanko-certvalidator==0.27.0
PyJWT==2.10.1
pypdf==5.8.0
python-bidi==0.6.6
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-memcached==1.62
PyYAML==6.0.2
razorpay==1.4.2
redis==6.2.0
reportlab==4.4.2
requests==2.32.4
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
svglib==1.5.1
tinycss2==1.4.0
tzdata==2025.2
tzlocal==5.3.1
uritools==5.0.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.45.1
whitenoise==6.9.0
xhtml2pdf==0.2.17
